* {
  margin: 0;
  padding: 0;
}
.clock {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}
.clock-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all ease 0.5s;
  align-items: center;
}